.aboutContainer .container {
  -webkit-animation: devinfoFadein 2s linear forwards;
  animation: devinfoFadein 2s linear forwards; }
  .aboutContainer .container .devAbout {
    max-width: 1000px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px auto;
    padding: 100px 0px; }
    .aboutContainer .container .devAbout .aboutHead {
      position: relative;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      width: 100%;
      color: white;
      white-space: nowrap;
      font-size: 25px;
      margin: 10px 0px 40px; }
      .aboutContainer .container .devAbout .aboutHead small {
        color: #FFB944;
        font-size: 13px; }
    .aboutContainer .container .devAbout .aboutHead::before {
      content: "02.";
      margin-right: 10px;
      font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
      font-weight: normal;
      color: #FFB944;
      font-size: 20px;
      position: relative;
      top: 3px; }
    .aboutContainer .container .devAbout .aboutHead::after {
      content: "";
      display: block;
      height: 1px;
      width: 300px;
      background-color: #2d3952;
      position: relative;
      top: 3px;
      margin-left: 20px; }
    .aboutContainer .container .devAbout .info {
      display: flex;
      justify-content: space-between; }
      .aboutContainer .container .devAbout .info .leftDesc {
        width: 50%; }
        .aboutContainer .container .devAbout .info .leftDesc .brDesc {
          -webkit-font-smoothing: antialiased;
          background-color: #0a192f;
          color: #8892b0;
          line-height: 1.5; }
      .aboutContainer .container .devAbout .info .rightDesc {
        width: 50%; }
