
.aboutContainer{
    .container{
        padding: 3% 0%;
        -webkit-animation: devinfoFadein 4s linear forwards;
        animation: devinfoFadein 4s linear forwards;
        .top-tags{
            margin-left: 8%;
            display: flex;
            flex-direction: column;
            width: 100%;
            .htmlOpen{
                color: gray;
                font-size: 17px;
                font-family: 'La Belle Aurore', cursive;
            }
            .bodyOpen{
                margin-left: 2%;
                color: gray;
                font-size: 17px;
                font-family: 'La Belle Aurore', cursive;
            }
        }
        .bottom-tags{
            margin-left: 8%;
            display: flex;
            flex-direction: column;
            width: 100%;

            .bodyClose{
                margin-left: 2%;
                color: gray;
                font-size: 17px;
                font-family: 'La Belle Aurore', cursive;
            }
            
            
            .htmlClose{
                color: gray;
                font-size: 17px;
                font-family: 'La Belle Aurore', cursive;
            }
            

        }
    
        .devAbout{
            max-width: 80%;
            width: 80%;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            flex-direction: column;
            align-items: flex-start;
            margin: 0px 15%;
            padding: 2% 0px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            .leftSide{
                width: 50%;
            .aboutHead{
                position: relative;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                width: 100%;
                color: white;
                white-space: nowrap;
                font-size: 25px;
                margin: 10px 0px 40px;
                small{
                    color: #FFB944;
                    font-size: 13px;
                }
                
            }
            .aboutHead::before {
                content: "02.";
                margin-right: 10px;
                font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
                font-weight: normal;
                color: #FFB944;
                font-size: 20px;
                position: relative;
                top: 3px;
            }
            .aboutHead::after {
                content: "";
                display: block;
                height: 1px;
                width: 300px;
                background-color: rgb(45, 57, 82);
                position: relative;
                top: 3px;
                margin-left: 20px;
            }
            .info{
                display: flex;
                justify-content: space-between;
                .leftDesc{
                    .brDesc{
                        -webkit-font-smoothing: antialiased;
                        background-color: rgb(10, 25, 47);
                        color: rgb(136, 146, 176);
                        line-height: 1.5;
                    }
                }
            }
               
            }
            .rightSide{
                width: 50%;
                padding: 0px 3rem;
                padding-left: 8rem;
                .tooltech{
                    .toolHead{
                        position: relative;
                        display: flex;
                        -webkit-box-align: center;
                        align-items: center;
                        width: 100%;
                        color: #a8b2d1;
                        white-space: nowrap;
                        font-size: 18px;
                        margin: 10px 0px 40px;
                        small{
                            color: #FFB944;
                            font-size: 13px;
                        }
                        
                    }
                    .toolHead::before {
                        content: "#";
                        margin-right: 10px;
                        font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
                        font-weight: normal;
                        color: #FFB944;
                        font-size: 20px;
                        position: relative;
                        top: 3px;
                    }
                    .toolHead::after {
                        content: "";
                        display: block;
                        height: 1px;
                        width: 300px;
                        background-color: rgb(45, 57, 82);
                        position: relative;
                        top: 3px;
                        margin-left: 20px;
                    }
                    .skillsCont{
                    .skill{
                        color: #ffb944;
                        font-weight: bold;
                        margin-right: 8px;
                        margin-bottom: 8px;
                        min-height: 25px;
                        border-radius: 20px;
                        cursor: default;
                        border: none;
                        background-color: #4E535A;
                        display: inline-flex;
                        outline: none;
                        padding: 0px;
                        font-size: 1rem;
                        .skillImg{
                            width: 25px;
                            border-radius: 50%;
                            color: #e0e0e0;
                            background-color: #364152;
                            height: 25px;
                            font-size: 1rem;
                            padding: 4px;
                            margin-left: -1px;
                            img{
                                width: 100%;
                                height: 100%;
                                text-align: center;
                                object-fit: cover;
                            }
                        }
                        span{
                            cursor: inherit;
                            display: flex;
                            align-items: center;
                            user-select: none;
                            white-space: nowrap;
                            font-family: 'Roboto Mono', monospace;
                            padding-left: 8px;
                            padding-right: 10px;
                            font-size: 13px;
                        }
                    }

                    }
                }
            }
        } 
    }
  
}