
.aboutContainer{
    .container{
        transition-delay: 0.2s;
        -webkit-animation: devinfoFadein 4s linear forwards;
        animation: devinfoFadein 4s linear forwards;
        .devAbout{
            max-width: 1000px;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            flex-direction: column;
            align-items: flex-start;
            margin: 0px auto;
            padding: 100px 0px;
            .aboutHead{
                position: relative;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                width: 100%;
                color: white;
                white-space: nowrap;
                font-size: 25px;
                margin: 10px 0px 40px;
                small{
                    color: #FFB944;
                    font-size: 13px;
                }
                
            }
            .aboutHead::before {
                content: "02.";
                margin-right: 10px;
                font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
                font-weight: normal;
                color: #FFB944;
                font-size: 20px;
                position: relative;
                top: 3px;
            }
            .aboutHead::after {
                content: "";
                display: block;
                height: 1px;
                width: 300px;
                background-color: rgb(45, 57, 82);
                position: relative;
                top: 3px;
                margin-left: 20px;
            }
            .info{
                display: flex;
                justify-content: space-between;
                .brDesc{
                    width: 50%;
                    -webkit-font-smoothing: antialiased;
                    background-color: rgb(10, 25, 47);
                    color: rgb(136, 146, 176);
                    line-height: 1.5;
                }
            }
        } 
    }

}