
.aboutContainer{
    .container{
        -webkit-animation: devinfoFadein 2s linear forwards;
        animation: devinfoFadein 2s linear forwards;
        .devAbout{
            max-width: 1000px;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            flex-direction: column;
            align-items: flex-start;
            margin: 0px 15%;
            padding: 100px 0px;
            .aboutHead{
                position: relative;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                width: 100%;
                color: white;
                white-space: nowrap;
                font-size: 25px;
                margin: 10px 0px 40px;
                small{
                    color: #FFB944;
                    font-size: 13px;
                }
                
            }
            .aboutHead::before {
                content: "02.";
                margin-right: 10px;
                font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
                font-weight: normal;
                color: #FFB944;
                font-size: 20px;
                position: relative;
                top: 3px;
            }
            .aboutHead::after {
                content: "";
                display: block;
                height: 1px;
                width: 300px;
                background-color: rgb(45, 57, 82);
                position: relative;
                top: 3px;
                margin-left: 20px;
            }
            .info{
                display: flex;
                justify-content: space-between;
                .leftDesc{
                    width: 50%;
                    .brDesc{
                        -webkit-font-smoothing: antialiased;
                        background-color: rgb(10, 25, 47);
                        color: rgb(136, 146, 176);
                        line-height: 1.5;
                    }
                }
                .rightDesc{
                    width: 50%;
                }
               
            }
        } 
    }
    .bodyOpen{
        position: absolute;
        left: 8rem;
        top: 10rem;
        color: gray;
        font-size: 17px;
        font-family: 'La Belle Aurore', cursive;
    }
    .bodyClose{
        position: absolute;
        left: 8rem;
        bottom: 5rem;
        color: gray;
        font-size: 17px;
        font-family: 'La Belle Aurore', cursive;
    }
    
    .pOpen{
        position: absolute;
        left: 9rem;
        top: 17.5rem;
        color: gray;
        font-size: 15px;
        font-family: 'La Belle Aurore', cursive;
    }
    .pClose{
        position: absolute;
    
        left: 41rem;
        top: 29rem;
        color: gray;
        font-size: 15px;
        font-family: 'La Belle Aurore', cursive;
    
    }

    
    .htmlOpen{
        position: absolute;
        left: 7rem;
        top: 8rem;
        color: gray;
        font-size: 17px;
        font-family: 'La Belle Aurore', cursive;
    }
    .htmlClose{
        position: absolute;
        left: 7rem;
        bottom: 3rem;
        color: gray;
        font-size: 17px;
        font-family: 'La Belle Aurore', cursive;
    }
    .h1Open{
        position: absolute;
        left: 9rem;
        top: 12.5rem;
        color: gray;
        font-size: 16px;
        font-family: 'La Belle Aurore', cursive;
    
    }
    .h1Close{
    
        position: absolute;
    
        left: 43rem;
        top: 12.5rem;
        color: gray;
        font-size: 16px;
        font-family: 'La Belle Aurore', cursive;
    }

}