.contactContainer .container {
  -webkit-animation: devinfoFadein 2s linear forwards;
  animation: devinfoFadein 2s linear forwards; }
  .contactContainer .container .devContact {
    max-width: 1000px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 15%;
    padding: 100px 0px; }
    .contactContainer .container .devContact .contactHead {
      position: relative;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      width: 100%;
      color: white;
      white-space: nowrap;
      font-size: 25px;
      margin: 10px 0px 40px; }
      .contactContainer .container .devContact .contactHead small {
        color: #FFB944;
        font-size: 13px; }
    .contactContainer .container .devContact .contactHead::before {
      content: "04.";
      margin-right: 10px;
      font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
      font-weight: normal;
      color: #FFB944;
      font-size: 20px;
      position: relative;
      top: 3px; }
    .contactContainer .container .devContact .contactHead::after {
      content: "";
      display: block;
      height: 1px;
      width: 300px;
      background-color: #2d3952;
      position: relative;
      top: 3px;
      margin-left: 20px; }
    .contactContainer .container .devContact .getTouch {
      font-size: 60px;
      margin: 0px 0px 20px;
      font-weight: 600;
      color: #e6f1ff;
      font-family: sans-serif; }
    .contactContainer .container .devContact .brDesc {
      width: 50%;
      -webkit-font-smoothing: antialiased;
      background-color: #0a192f;
      color: #8892b0;
      line-height: 1.5;
      margin-top: 2rem; }
    .contactContainer .container .devContact .getTouchBtn {
      color: #FFB944;
      background-color: transparent;
      font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
      line-height: 1;
      cursor: pointer;
      margin-top: 2rem;
      margin-left: 10px;
      font-size: 15px;
      border-width: 1px;
      border-style: solid;
      border-color: #FFB944;
      border-image: initial;
      border-radius: 3px;
      padding: 1rem 2rem;
      text-decoration: none;
      transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s; }

.contactContainer .bodyOpen {
  position: absolute;
  left: 8rem;
  top: 10rem;
  color: gray;
  font-size: 17px;
  font-family: 'La Belle Aurore', cursive; }

.contactContainer .bodyClose {
  position: absolute;
  left: 8rem;
  bottom: 5rem;
  color: gray;
  font-size: 17px;
  font-family: 'La Belle Aurore', cursive; }

.contactContainer .pOpen {
  position: absolute;
  left: 9rem;
  top: 22.5rem;
  color: gray;
  font-size: 15px;
  font-family: 'La Belle Aurore', cursive; }

.contactContainer .pClose {
  position: absolute;
  left: 30rem;
  top: 26rem;
  color: gray;
  font-size: 15px;
  font-family: 'La Belle Aurore', cursive; }

.contactContainer .btnOpen {
  position: absolute;
  left: 9rem;
  top: 31rem;
  color: gray;
  font-size: 15px;
  font-family: 'La Belle Aurore', cursive; }

.contactContainer .btnClose {
  position: absolute;
  left: 22rem;
  top: 31rem;
  color: gray;
  font-size: 15px;
  font-family: 'La Belle Aurore', cursive; }

.contactContainer .htmlOpen {
  position: absolute;
  left: 7rem;
  top: 8rem;
  color: gray;
  font-size: 17px;
  font-family: 'La Belle Aurore', cursive; }

.contactContainer .htmlClose {
  position: absolute;
  left: 7rem;
  bottom: 3rem;
  color: gray;
  font-size: 17px;
  font-family: 'La Belle Aurore', cursive; }

.contactContainer .h1Open {
  position: absolute;
  left: 9rem;
  top: 12.5rem;
  color: gray;
  font-size: 16px;
  font-family: 'La Belle Aurore', cursive; }

.contactContainer .h1Close {
  position: absolute;
  left: 47rem;
  top: 12.2rem;
  color: gray;
  font-size: 16px;
  font-family: 'La Belle Aurore', cursive; }

.contactContainer .h12Open {
  position: absolute;
  left: 9rem;
  top: 17.5rem;
  color: gray;
  font-size: 16px;
  font-family: 'La Belle Aurore', cursive; }

.contactContainer .h12Close {
  position: absolute;
  left: 35rem;
  top: 18rem;
  color: gray;
  font-size: 16px;
  font-family: 'La Belle Aurore', cursive; }
