
.contactContainer{
    .container{
        padding: 3% 0%;
        -webkit-animation: devinfoFadein 4s linear forwards;
        animation: devinfoFadein 4s linear forwards;
        .top-tags{
            margin-left: 8%;
            display: flex;
            flex-direction: column;
            width: 100%;
            .htmlOpen{
                color: gray;
                font-size: 17px;
                font-family: 'La Belle Aurore', cursive;
            }
            .bodyOpen{
                margin-left: 2%;
                color: gray;
                font-size: 17px;
                font-family: 'La Belle Aurore', cursive;
            }
        }
        .bottom-tags{
            margin-left: 8%;
            display: flex;
            flex-direction: column;
            width: 100%;

            .bodyClose{
                margin-left: 2%;
                color: gray;
                font-size: 17px;
                font-family: 'La Belle Aurore', cursive;
            }
            
            
            .htmlClose{
                color: gray;
                font-size: 17px;
                font-family: 'La Belle Aurore', cursive;
            }
            

        }
    
        .devContact{
            max-width: 1000px;
            -webkit-box-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            flex-direction: column;
            align-items: flex-start;
            margin: 0px 15%;
            padding: 2% 0px;
            .contactHead{
                position: relative;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                width: 100%;
                color: white;
                white-space: nowrap;
                font-size: 25px;
                margin: 10px 0px 40px;
                small{
                    color: #FFB944;
                    font-size: 13px;
                }
                
            }
            .contactHead::before {
                content: "04.";
                margin-right: 10px;
                font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
                font-weight: normal;
                color: #FFB944;
                font-size: 20px;
                position: relative;
                top: 3px;
            }
            .contactHead::after {
                content: "";
                display: block;
                height: 1px;
                width: 300px;
                background-color: rgb(45, 57, 82);
                position: relative;
                top: 3px;
                margin-left: 20px;
            }
            .getTouch{
                font-size: 60px;
                margin: 0px 0px 20px;
                font-weight: 600;
                color: rgb(230, 241, 255);
                font-family: sans-serif;

            }
            .brDesc{
                width: 50%;
                -webkit-font-smoothing: antialiased;
                background-color: rgb(10, 25, 47);
                color: rgb(136, 146, 176);
                line-height: 1.5;
                margin-top: 2rem;

            }
            .getTouchBtn{
        
                    color: #FFB944;
                    background-color: transparent;
                    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
                    line-height: 1;
                    cursor: pointer;
                    margin-top: 2rem;
                    margin-left: 10px;
                    font-size: 15px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: #FFB944;
                    border-image: initial;
                    border-radius: 3px;
                    padding: 1rem 2rem;
                    text-decoration: none;
                    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
                
            }

         }
    }

}